@import "../../responsive.scss";

.plan {
    width: 100%;
    margin: 0;
    background-color: #F2F2F2;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    @include mini {
        padding-bottom: 50px;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .bigContainer {
        display: flex;
        align-items: center;
        position: relative; 
        

        @include tablet {
            display: flex;
            flex-direction: column;
        }
        @include mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }

        .mainContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include miniDesktop {
                margin-bottom: auto;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 10px 5px 30px;
                margin-bottom: 20px;
                width: calc(97vw - 21rem);

                @include tablet {
                    display: flex;
                    flex-direction: column;
                    width: 98.17vw;
                    margin: auto;
                    padding: 5px 25px 15px 25px;
                    border-bottom: 1px solid #CCCCCC;
                    border-bottom: none;
                }

                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    @include tablet {
                        margin-right: auto;
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 20px;
                    }
        
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    @include miniDesktop {
                        gap: 5px;
                    }

                    @include tablet {
                        margin-left: auto;
                        gap: 15px;
                    }
        
                    p {
                        color: #666666;
                        font-size: 12px;
                    }
                    button {
                        background-color: #000000;
                        color: #ffffff;
                        padding: 12px;
                        border-radius: 8px;
                        font-size: 12px;
                        font-weight: 400;
    
                        &:hover {
                            background-color: #000000da;
                        }
                    }
        
                    i {
                        font-size: 20px;
                        background-color: #ffffff;
                        padding: 4px 10px;
                        border-radius: 5px;
                        border: 1px solid #000000;
                    }
                }
            }

            .leftContainer {
                display: flex;
                justify-content: center;
                padding-left: 20px;

                @include mini {
                    width: 100vw;
                }

                .sidenav {
                    margin-right: -7px;
                    margin-left: 7px;

                    @include miniDesktop  {
                        display: none;
                        visibility: hidden;
                    }
                }

                .center {
                    width: calc(75vw - 20.3rem);
                    background-color: #ffffff;
                    padding: 30px 20px 10px 0px;
                    border-top-right-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    @include miniDesktop {
                        width: 60vw;
                    }

                    @include tablet {
                        width: 60vw;
                    }
                    @include mobile {
                        width: 80vw;
                    }

                    @include mini {
                        width:85%;
                        margin-right: 20px;
                        
                    }

                    .header {
                        padding-left: 60px;
                        padding-bottom: 10px;
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 0;
                        width: 100%;
                        border-bottom: #CCCCCC 1px solid;

                        @include mobile {
                            padding-left: 30px;
                        }

                        h1 {
                            font-weight: 500;
                            font-size: 36px;
                        }
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 10px;
                        width: 100%;
                        border-bottom: 1px solid #CCCCCC;

                        @include mobile {
                            gap: 20px;
                        }

                        h6 {
                            font-weight: 400;
                            font-size: 12px;
                            color: #000000;
                            padding-left: 60px;

                            @include mobile {
                                padding-left: 30px;
                            }
                        }
                        .pLicense {
                            font-weight: 300;
                            font-size: 10px;
                            color: #000000; 
                            background-color: #E8E6E6;
                            width: 80%;
                            border-radius: 8px;
                            border: 1px solid #BDBDBD;
                            padding: 10px 15px 10px 15px;
                            margin-left: 60px;

                            @include mobile {
                                margin-left: 30px;
                                width: 90%;
                            }
                        }

                        .box {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            border: 1px solid #9E9E9E;
                            border-radius: 8px;
                            width: 80%;
                            padding: 5px 30px 10px 20px;
                            margin-bottom: 30px;
                            margin-left: 60px;

                            @include mobile {
                                margin-left: 30px;
                                width: 90%;
                                gap: 10px;
                            }
                            @include mini {
                                padding-right: 15px;
                            }

                            .boxTop {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                h6 {
                                    font-weight: 400;
                                    font-size: 11px;
                                    padding-left: 0;
                                }
                                button {
                                    font-weight: 400;
                                    font-size: 10px;
                                    color: #ffffff;
                                    background-color: #000000;
                                    padding: 5px 25px;
                                    border-radius: 10px;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #000000db;
                                    }

                                    @include mini {
                                        padding: 5px 15px;
                                    }
                                }
                            }

                            h1 {
                                font-weight: 500;
                                font-size: 18px;
                                color: #000000;

                                span{
                                    font-weight: 300;
                                    font-size: 10px;
                                }
                            }

                            p {
                                font-weight: 400;
                                font-size: 11px;
                                color: #666666;
                                line-height: 2;
                            }
                        }
                    }
                }    
            }    
        }

        .simulator {
            margin-bottom: auto;
            margin-left: auto;

            @include tablet {
                margin: auto;
            }
        }
    }        
}