@import "../../responsive.scss";

.createAppOverview {
    width: 100vw;
    margin: 0;
    background-color: #F2F2F2;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    @include mini {
        padding-bottom: 50px;
        width: 100vw;
        margin: 0;
        padding: 0;
        // display: block;
    }

    .bigContainer {
        display: flex;
        align-items: center;
        position: relative; 
        

        @include tablet {
            display: flex;
            flex-direction: column;
        }
        @include mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }

        .mainContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include miniDesktop {
                margin-bottom: auto;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 10px 5px 30px;
                margin-bottom: 20px;
                width: calc(97vw - 21rem);

                @include tablet {
                    display: flex;
                    flex-direction: column;
                    width: 98.17vw;
                    margin: auto;
                    padding: 5px 25px 15px 25px;
                    border-bottom: 1px solid #CCCCCC;
                    border-bottom: none;
                }

                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    @include tablet {
                        margin-right: auto;
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 20px;
                    }
        
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    @include miniDesktop {
                        gap: 5px;
                    }

                    @include tablet {
                        margin-left: auto;
                        gap: 15px;
                    }
        
                    p {
                        color: #666666;
                        font-size: 12px;
                    }
                    button {
                        background-color: #000000;
                        color: #ffffff;
                        padding: 12px;
                        border-radius: 8px;
                        font-size: 12px;
                        font-weight: 400;
    
                        &:hover {
                            background-color: #000000da;
                        }
                    }
        
                    i {
                        transform: rotate(90deg);
                        font-size: 20px;
                        background-color: #ffffff;
                        padding: 6px;
                        border-radius: 5px;
                        border: 1px solid #000000;
                    }
                }
            }

            .leftContainer {
                display: flex;
                justify-content: center;
                padding-left: 20px;

                @include mini {
                    width: 100vw;
                }

                .sidenav {
                    margin-right: -7px;
                    margin-left: 7px;

                    @include miniDesktop  {
                        display: none;
                        visibility: hidden;
                    }
                }

                .center {
                    width: calc(75vw - 20.3rem);
                    background-color: #ffffff;
                    padding: 30px 30px 10px 50px;
                    border-top-right-radius: 8px;

                    @include miniDesktop {
                        width: 60vw;
                    }

                    @include tablet {
                        width: 60vw;
                    }
                    @include mobile {
                        width: 80vw;
                    }

                    @include mini {
                        width:85%;
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 12px;
                        color: #666666;
                        margin-bottom: 5px;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 30px;
                        width: 80%;

                        @include mobile {
                            margin-bottom: 50px;
                        }
                        
                        input {
                            border: #CCCCCC 1px solid;
                            border-radius: 5px;
                            width: 100%;
                            font-size: 14px;
                            font-weight: 400;
                            padding: 3px 5px 3px 10px;
                        }

                        .form-select {
                            font-size: 14px;
                            font-weight: 400;
                            box-shadow: none;
                        }

                        button {
                            margin-top: 60px;
                            display: flex;
                            align-items: flex-start;
                            background-color: #000000;
                            border-radius: 8px;
                            color: #ffffff;
                            width: 200px;
                            font-weight: 400;
                            font-size: 14px;
                            padding: 7px 15px;

                            &:hover {
                                background-color: #0e0e0eca;
                            }
                        }
                    }
                    
  
                }
            }
        }

        .simulator {
            margin-bottom: auto;
            margin-left: auto;

            @include tablet {
                margin: auto;
            }
        }
    }
}