@import "../../../responsive.scss";

.topNavigation {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    p {
        font-weight: 400;
        font-size: 12px;
        color: #666666;
        margin-bottom: 7px;
    }

    .form-check-input {
        box-shadow: none;
    }

    .tab {
        padding: 25px 30px 25px 60px;
        border-bottom: 1px solid #000000;
        width: 101.6%;
    }

    h2 {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin-bottom: 5px;
    }
    label {
        font-weight: 400;
        font-size: 10px;
        color: #999999;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: #CCCCCC 1px solid;
        width: 100%;

        .diagram {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;

            @include miniDesktop {
                display: flex;
                // flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                width: 80%;
            }
            @include tablet{
                width: 95%;
            }

            @include mini {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            i {
                font-size: 20px;
                margin-right: 5px;
                color: #000000;

            }
            p {
                padding: 5px 10px;
                display: flex;
                align-items: center;
            }

            .radioGroup {
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-top:1px solid #CCCCCC;
                padding: 5px 10px;

                .form-check {
                    border: 1px solid #CCCCCC;
                    border-right: none;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    input {
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }

                    &:last-child {
                        border-right: 1px solid #CCCCCC;
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 7px;
                        border-bottom-right-radius: 7px;
                    }
                }
            }

            .ios {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid #CCCCCC;
                border-radius: 8px;
                flex: 1;
                margin-right: 30px;

                @include miniDesktop {
                    width: 60%;
                    margin: auto;
                }
            }
            .android {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid #CCCCCC;
                border-radius: 8px;
                flex: 1;

                @include miniDesktop {
                    width: 60%;
                    margin: auto;
                }
            }
        }
    }

    .second {
        
        .diagram {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border: 1px solid #999999;
            border-radius: 10px;

            p {
                border-bottom: #999999 1px solid;
                width: 100%;
            }

            .bottom {

                p {
                    border-bottom: none;
                }

                .radioGroup {
                    border-top: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 150px;

                    .form-check {
                        padding-left: 10px;
                    }
                }

                .color-card {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 20px;
                    border: #999999 1px solid;
                    border-radius: 10px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    width: 40vw;
                    margin-left: 15px;
                    padding: 20px 25px;
                    margin-bottom: 25px;
                    border-bottom: none;

                    @include miniDesktop {
                        display: flex;
                        flex-direction: column;
                        width: 30vw;

                        .right {
                            margin-top: 30px;
                        }
                    }

                    @include mobile {
                        display: flex;
                        flex-direction: column;
                        width: 50vw;
                        
                        .right {
                            margin-top: 20px;
                        }
                    }
                    @include mini {
                        width: 55vw;
                        padding-left: 10px;
                    }

                    .left {
                        flex: 1;

                        .box {
                            padding-bottom: 10px;
                            padding-left: 5px;
                            border-radius: 7px;

                            @include mini {
                                width: max-content;
                            }
                            p {
                                color: #999999;
                                font-weight: 400;
                                font-size: 10px;
                            }

                            .background {
                                border: 1px solid #CCCCCC;
                                color: #000000;
                                border-radius: 6px;
                                padding: 4px 8px;
                                width: 70%;
                                margin-bottom: 5px;
                            }

                            .text {
                                border: 1px solid #CCCCCC;
                                border-radius: 6px;
                                padding: 4px 8px;
                                color: #000000;
                                width: 70%;

                                span {
                                    background-color: #000000;
                                }
                            }
                            span {
                                border: 1px solid black;
                                background-color: white;
                                width: 12px;
                                height: 12px;
                                margin-right: 10px;

                               
                            }
                        }

                        p {
                            margin-bottom: 0;
                        }

                        .radioGroup {
                            border-top: none;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 180px;

                            @include mini {
                                width: 50vw;
                                font-size: 10px;
                                padding-left: 0;
                            }
        
                            .form-check {
                                padding-left: 10px;
                                
                            }
                        }
                    }

                    .right {
                        flex: 1;

                        .box {
                            padding-bottom: 10px;
                            padding-left: 5px;
                            border-radius: 7px;

                            .background {
                                border: 1px solid #CCCCCC;
                                border-radius: 6px;
                                padding: 4px 8px;
                                width: 70%;
                                color: #000000;
                                margin-bottom: 5px;
                            }

                            .text {
                                border: 1px solid #CCCCCC;
                                border-radius: 6px;
                                padding: 4px 8px;
                                width: 70%;
                                color: #000000;

                                span {
                                    margin-right: 10px;
                                }
                            }

                            p {
                                color: #999999;
                                font-weight: 400;
                                font-size: 10px;
                            }

                            span {
                                background-color: black;
                                width: 12px;
                                height: 12px;
                                margin-right: 4px;
                            }
                        }
                    }

                    .box {
                        background-color: #F2F2F2;

                        h6 {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font-weight: 400;
                            font-size: 9px;
                            color: #666666;
                            margin-bottom: 7px;
                            padding: 5px;

                            img {
                                width: 15px;
                                height: 15px;
                            }

                            i {
                                font-size: 15px;
                            }
                        }

                        p {
                            margin: 0;

                            
                        }
                    }
                }

            }
        }
    }

    .third {
        
        .title {
            margin-bottom: 20px;
            margin-top: 20px;
            
            .right-title {
                display: flex;
                align-items: center;
                gap: 30px;

                .form-switch {
                    display: flex;
                    gap: 50px;
                    align-items: center;
                    justify-content: center;
                    filter: grayscale(1);
                    input {
                        cursor: pointer;
                    }
                }
            }
        }
        .mainContainer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            width: 90%;
            border: 1px solid #999999;
            border-radius: 10px;
            padding: 10px 20px;

            .mainContainerTop {
                width: 90%;
                border: #999999 1px solid;
                padding: 3px 7px;
                border-radius: 10px;

                @include miniDesktop {
                    padding: 3px 4px;
                }

                @include tablet {
                    width: 100%;
                }

                @include mobile {
                    width: 100%;
                }

                .mainExtra {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 95%;
                    background-color: #F2F2F2;
                    padding: 5px 12px;

                    @include miniDesktop {
                        width: 100%;
                        padding: 5px 8px;
                    }
                    
                    .mainContainerLeft {
                        border: #999999 1px solid;
                        padding: 3px 7px;
                        border-radius: 10px;
                        width: 70%;
                        
                        p {
                            @include miniDesktop {
                                font-size: 9px;
                            }
                        }
                    }

                    .mainConatinerRight {
                        display: flex;
                        gap: 10px;

                        i {
                            cursor: pointer;
                        }
                    }
                }
                
            }
            
            .pages {
                display: flex;
                flex-direction: column;

                #radios {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    width: 100%;
                    border: #999999 1px solid;
                    padding: 2px 15px;
                    border-radius: 10px;

                    @include miniDesktop {
                        display: block;
                    }

                    label {
                        color: #999999;
                        font-weight: 400;
                        font-size: 11px;
                        margin-left: 5px;
                    }
                }
            }

            h6 {
                display: flex;
                margin-left: auto;
                gap: 20px;
                color: #000000;
                font-weight: 400;
                font-size: 12px;
            }

            .display {
                display: flex;
                flex-direction: column;
                // align-items: center;

                .threeRadios {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 50px;
                    width: 100%;
                    border: #999999 1px solid;
                    padding: 2px 30px;
                    border-radius: 10px;

                    @include miniDesktop {
                        display: block;
                        padding: 2px 60px 2px 15px;
                    }

                    label {
                        color: #999999;
                        font-weight: 400;
                        font-size: 11px;
                        margin-left: 5px;
                    }
                }
            }

            .last {
                display: flex;
                align-items: center;
                margin: auto;
                gap: 20px;

                p {
                    background-color: #F2F2F2;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 400;
                    padding: 10px 50px;
                }
                i {
                    cursor: pointer;
                }
            }
        }

        .deleteAdd {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-left: 20px;
            gap: 30px;
            width: 60%;

            @include miniDesktop {
                width: 90%;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                margin-top: 15px;

                @include miniDesktop {
                    font-size: 11px;
                }

                i {
                    font-size: 20px;

                    @include miniDesktop {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .lastly {

        .right-title {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 20px;

            .form-switch {
                display: flex;
                gap: 50px;
                align-items: center;
                justify-content: center;
            }
        }

        .firstSquare {
            width: 100%;
            border: #666666 1px solid;
            padding: 10px 15px;
            border-radius: 10px;
            margin-bottom: 10px;

            .secondSquare {
                width: 85%;
                border: #999999 1px solid;
                padding: 8px 25px;
                border-radius: 10px;
                width: 100%;

                .thirdSquare {
                    background-color: #CCCCCC;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 10px;

                    i {
                        cursor: pointer;
                    }
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            gap: 10px;
        }
    }
}