@import "../../responsive.scss";

.support {
    background-color: #F2F2F2;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    margin: 0;
    padding: 0;

    .bigContainer {
        display: flex;
        align-items: center;
        position: relative;
       
        @include tablet {
            display: flex;
            flex-direction: column;
        }
        @include mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }

        .mainContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 25px;

            @include miniDesktop {
                margin-bottom: auto;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 20px 5px 5px;
                margin-bottom: 20px;
                // margin-left: 15px;
                width: calc(96vw - 21rem);
    
                @include tablet {
                    display: flex;
                    flex-direction: column;
                    width: 98.17vw;
                    margin: auto;
                    padding: 5px 25px 15px 25px;
                    border-bottom: 1px solid #CCCCCC;
                }
        
                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
    
                    @include tablet {
                        margin-right: auto;
                    }
        
                    h2 {
                        font-weight: 500;
                        font-size: 20px;
                    }
        
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
        
                .right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
    
                    @include miniDesktop {
                        gap: 5px;
                    }
    
                    @include tablet {
                        margin-left: auto;
                        gap: 15px;
                    }
        
                    p {
                        color: #666666;
                        font-size: 12px;
                    }
                    button {
                        background-color: #000000;
                        color: #ffffff;
                        padding: 12px;
                        border-radius: 8px;
                        font-size: 12px;
                        font-weight: 400;
    
                        &:hover {
                            background-color: #000000da;
                        }
                    }
        
                    i {
                        font-size: 20px;
                        background-color: #ffffff;
                        padding: 4px 10px;
                        border-radius: 5px;
                        border: 1px solid #000000;
                    }
                }
            }
    
            .leftContainer {
                display: flex;
                justify-content: center;
                // padding-left: 20px;
    
                @include mini {
                    width: 100vw;
                }
                
                .sidenav {
                    margin-right: -7px;
                    margin-left: 7px;
                    margin-left: auto;
    
                    @include miniDesktop {
                        display: none;
                        visibility: hidden;
                    }
                }
                .center {                
                    width: calc(75vw - 20rem);
                    background-color: #ffffff;
                    padding: 30px 0px 10px 0px;
                    border-top-right-radius: 8px;
    
                    @include miniDesktop {
                        width: 60vw;
                    }
                    @include tablet {
                        width: 60vw;
                    }
                    @include mobile {
                        width: 80vw;
                    }
                    @include mini {
                        width:85%;
                    }
                    
    
                    .topHeader {
                        font-size: 32px;
                        font-weight: 500;
                        // padding-left: 60px;
                        // padding-bottom: 20px;
                        // border-bottom: 1px solid #CCCCCC;
    
                        border-bottom: 1px solid #CCCCCC;
                        width: 100.3%;
                        padding-left: 60px;
                        padding-right: 50px;
                        padding-bottom: 30px;
                    }
    
                    .self-support {
                        padding-left: 60px;
                        padding-right: 70px;
                        border-bottom: 1px solid #CCCCCC;
                        padding-bottom: 30px;
    
                        .self-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 20px 0;
                            color: #000000;
    
                            h2 {
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }
                        ul {
                            font-weight: 400;
                            font-size: 11px;
                            color: #666666;
                            line-height: 2.6;
                            list-style: outside;
                            margin-left: 1rem;
                        }
    
                        button {
                            margin-top: 10px;
                            background-color: #CCCCCC;
                            font-weight: 500;
                            font-size: 14px;
                            padding: 10px 20px;
                            border-radius: 15px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
    
                            &:hover {
                                background-color: #aca8a8b8;
                            }
    
                            i {
                                font-size: 12px;
                            }
                        }
                    }
                    
                }
    
                .containers {
                    padding: 10px 70px 20px 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
    
                    @include tablet {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .app-support {
                        margin-top: 20px;
                    }
                    
                    .app-support, .ent-support {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;
                        border: 1px solid #CCCCCC;
                        border-radius: 10px;
                        width: 50%;
                        padding: 10px;
                        margin-bottom: 20px;
    
                        @include tablet {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 20px;
                            border: 1px solid #CCCCCC;
                            border-radius: 10px;
                            width: 35vw;
                            padding: 10px;
                            margin-bottom: 20px;
                        }
                        @include mobile {
                            width: 250px;
                        }
    
                        h2 {
                            font-weight: 500;
                            font-size: 15px;
                        }
    
                        ul {
                            font-weight: 500;
                            font-size: 11px;
                            list-style: outside;
                            color: #000000;
                            margin-left: 1rem;
    
                            li {
                                margin-bottom: 10px;
                            }
                        }
    
                        .bottom {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            gap: 20px;
    
                            h1 {
                                color: #000000;
                                font-weight: 600;
                                font-size: 22px;
    
                                span {
                                    font-weight: 300;
                                    font-size: 12px;
                                }
                            }
                            button {
                                padding: 10px 0px;
                                background-color: #000000;
                                color: #ffffff;
                                width: 100%;
                                border-radius: 10px;
    
                                &:hover {
                                    background-color: #000000d5;
                                }
                            }
                        }
                    }
    
                    .ent-support {
                        margin-top: 20px;
                        gap: 10px;
    
                        @include tablet {
                            gap: 20px;
                        }
                        
                        li {
                            padding-bottom: 0;
                        }
    
                        .bottom {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-top: 1px solid #CCCCCC;
                            width: 100%;
                            gap: 10px;
                            padding-top: 5px;
                        }
    
                        p {
                            font-weight: 400;
                            font-size: 10px;
                            text-align: center;
                        }
                    }
                }
            }

        }

        .simulator {
            margin-bottom: auto;
            margin-left: auto;

            @include tablet {
                margin: auto;
            }
        }
    }

}